body {
  margin: 0;
  text-align: center;
  font-family: "Nunito", sans-serif;
  background-color: #222831;
  color: #eeeeee;
}
h1 {
  margin-top: 0;
  font-size: 3rem;
  font-family: "Palanquin Dark", sans-serif;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
h2,
h3 {
  color: #00adb5;
}
p {
    padding: 0 45px;
}
.top-container {
  background-image: url(/CSS-Site/images/laptop.jpg);
  background-position: center;
  background-size: 150%;
  color: #eeeeee;
  padding: 300px 0;
  position: relative;
}
.middle-container {
  background-color: #393e46;
}
.skill-images {
  border-radius: 100%;
  width: 300px;
}
.japanese {
  font-family: "Kosugi Maru", sans-serif;
}
.japanese h1 h2 h3 {
  font-family: "Kosugi", sans-serif;
}
.skills {
  padding: 50px 0;
}
.skill-row {
  background-color: #222831;
  border-radius: 20px;
  margin: 50px auto;
  padding: 40px 0;
  max-width: 750px;
  min-width: 500px;
}
.btn {
  display: inline-block;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  text-decoration: none;
  background-color: #393e46;
  color: #eeeeee;
}

.btn:hover{
  color: #00adb5;
  border: 1px solid #eeeeee ;
}
.profile,
.contact-me {
  background-color: #222831;
  padding: 100px 0;
}
#translate-button {
  display: inline-block;
  position: fixed;
  border: 1px solid black;
  width: 100px;
  right: 20px;
  top: 20px;
  color: whitesmoke;
  background-color: #393e46;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
}
#translate-button a {
  font-family: "Nunito", sans-serif;
  color: #eeeeee;
  text-decoration: none;
  font-size: 1rem;
}
#translate-button a:hover {
  margin: 0;
  border-radius: 5px;
  color: #00adb5;
  font-weight: bold;
}
